<!DOCTYPE html>
<html lang="en">
<head>
<title>Upload Audio</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

<div class="container">
    <h2>SVAR Audio Rater</h2>
    <form action="/catch_filename" method="POST" enctype="multipart/form-data">
        <label for="filename">Enter Audio Name - amcatID_sID</label>
        <input type="text" id="filename" name="filename" placeholder="amcatID_sID" required>
        <input type="submit" value="Upload">
    </form>
</div>

</body>
</html>
